/* Reset e configurações básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos do container principal */
.container { /* Fundo levemente transparente */
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Estilos do logotipo */
img {
    width: 100px;
    margin-bottom: 15px;
}

/* Estilos do input e botão de adicionar tarefa */
.input-container {
    display: flex;
    margin-bottom: 20px;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    background-color: #d6d6d6;
    outline: none;
}

.todo-input::placeholder {
    color: #acacac;
    font-size: 14px;
}

.add-btn {
    padding: 10px 20px;
    background-color: #6321BF;
    color: #ffffff;
    border: none;
    border-radius: 0 25px 25px 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.add-btn:hover {
    background-color: #5b23ac;
    transition: .3s ease-in-out;
}

/* Estilos da lista de tarefas */
.todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos dos checkboxes */
.form-check-input {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px 0 -10px;
    position: relative;
}

.form-check-input:checked {
    border-color: #6321BF;
    background-color: #6321BF;
}

.form-check-input:checked::before {
    content: '\F26E';
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos das labels */
.form-check-label {
    flex: 1;
    cursor: pointer;
    font-weight: 400;
    color: #0D0D0D;
}

.form-check-label.checked {
    text-decoration: line-through;
    color: rgb(189, 189, 189);
    font-weight: 400;
}

/* Estilo do ícone de check */
.form-check-input.bi-check {
    font-size: 1.2rem;
    color: #FF4500;
}
